<div class="row text-center">
  <h3>Viking Store Addresses</h3>

  <%= link_to new_address_path do %>
    <%= button_tag(type: 'button', class: 'btn btn-lg btn-primary') do
          content_tag(:strong, 'Create New Address')
    end %>
  <% end %>

</div>
<hr>

<div class="row scrollable">
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Street Address</th>
      <th>Secondary Address</th>
      <th>Zipcode</th>
      <th>City</th>
      <th>State</th>
      <th>User</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <%= render @addresses %>
  </table>
</div>