<div class="row">
  <h3>Viking Store Addresses</h3>

  <%= link_to new_address_path do %>
    <button class="btn btn-primary btn-lg col-xs-8 col-xs-offset-2">Create address</button>
  <% end %>

</div>

<div class="row">
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Street Address</th>
      <th>Secondary Address</th>
      <th>Zipcode</th>
      <th>City</th>
      <th>State</th>
      <th>User</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <%= render @addresses %>
  </table>
</div>