<div class="row text-center">
  <h3>Viking Store Categories</h3>

  <%= link_to new_category_path do %>
    <%= button_tag(type: 'button', class: 'btn btn-lg btn-primary') do
          content_tag(:strong, 'Create New Category')
    end %>
  <% end %>

</div>

<hr>

<div class="row scrollable">
  <table class="table table-bordered scrollable">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <%= render @categories %>
  </table>
</div>
