<div class="row text-center">
  <h3>Viking Store Products</h3>

  <%= link_to new_admin_product_path do %>
    <%= button_tag(type: 'button', class: 'btn btn-lg btn-primary') do
            content_tag(:strong, 'Create New Product')
    end %>
  <% end %>

</div>
<hr>
<div class="row scrollable">
  <table class="table table-bordered scrollable">
    <tr>

      <th>Name</th>

      <th>Price</th>

      <th></th>
    </tr>
    <%= render @products %>
  </table>
</div>