<main class = "container">


  <section id="product-section">

    <div class="panel panel-default">
      
      <div class="panel-heading text-center">
        <h2>Products</h2>
      </div>

      <div class="panel-body photo-row">
        <div class = "row pull-right">
            <%= render partial: "filter_options", locals: {:category_id => @category_id}%>
        </div>
        <div class="row"></div>
        <div class="row">
          <%= render @products %>
        </div>
      </div>
    </div>


    <div class = "clearfix"></div>
  </section>
</main>